#app {
    font-family: Roboto;
}

/*narbar*/
nav {
    /*  f7f7f7 f1f1f1 f4f5f5 c2c6c7 */
    background-color: #f4f5f5;
}

nav li b {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    color: #68bccc;
    font-size: 18px;
}

nav li p {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    color: #68bccc;
    font-size: 15px;
    display: inline
        /*avoid a new line*/
}

nav li i {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    margin-right: 10px;
    font-size: 18px;
    color: #68bccc;
}

a.dropdown-toggle,
a.dropdown-toggle::after {
    color: #68bccc;
}

/*narbar end*/

/*headings and texts*/
.animate-div {
    font-size: 50px;
    color: #5f676f;
    text-align: center;
    word-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1.my-h1 {
    text-align: center;
    color: #5f676f;
    margin-bottom: 50px;
}

h2.my-h2 {
    color: #68bccc;
}

div.general-text {
    color: gray;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 25px;
}

a.download-here {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.download-text {
    font-size: 25px;
    color: #31586e;
    text-decoration: none;
}

i.download-text {
    font-size: 25px;
    color: #31586e;
}

select.form-select {
    text-align: center;
    color: #5f676f;
    background-color: #f4f5f5;
    font-size: 25px;
}

/*headings and texts end*/

/*footer*/
.footer-text {
    background-color: #84b6b9;
    color: white;
    word-wrap: break-word;
}

.center {
    /*border: 1px solid red;*/
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.anchor-footer-text {
    color: white;
    text-decoration: none;
}

footer i {
    margin-left: 10px;
    margin-right: 10px;
}

div.derechos-reservados {
    background-color: #5f676f;
    color: white;
    text-align: center;
    font-size: 11px;
}

/*footer end*/