#app {
    font-family: Roboto;
}

/*narbar*/
nav {
    /*  f7f7f7 f1f1f1 f4f5f5 c2c6c7 */
    background-color: white;
}

nav li b {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    color: #68bccc;
    font-size: 18px;
}

nav li p {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    color: #68bccc;
    font-size: 15px;
    display: inline
        /*avoid a new line*/
}

nav li i {
    /* 61BDD0 60bccf 68bccc 488d9e*/
    margin-right: 10px;
    font-size: 18px;
    color: #68bccc;
}

a.dropdown-toggle,
a.dropdown-toggle::after {
    color: #68bccc;
}

/*narbar end*/

/*headings and texts*/
.animate-div {
    font-size: 50px;
    color: #5f676f;
    text-align: center;
    word-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1.my-h1 {
    text-align: center;
    color: #5f676f;
    margin-bottom: 50px;
}

h2.my-h2 {
    color: #68bccc;
}

h3.my-h3 {
    color: #5f676f;
}

div.general-text {
    color: #444444;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.general-text table{
    color: #444444;
}

a.download-here {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.download-text {
    font-size: 25px;
    color: #31586e;
    text-decoration: none;
}

i.download-text {
    font-size: 25px;
    color: #31586e;
}

select.form-select {
    text-align: left;
    color: #5f676f;
    background-color: #f4f5f5;
    font-size: 25px;
}

/*headings and texts end*/

/*form*/
.error {
    color: red;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}

.obligatorio {
    color: black;
    margin-top: 20px;
    font-size: 12px;
}

button.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #31586e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

/*form end*/

/*footer*/
.footer-text {
    background-color: #84b6b9;
    color: white;
    word-wrap: break-word;
}

.center {
    /*border: 1px solid red;*/
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.anchor-footer-text {
    color: white;
    text-decoration: none;
}

footer i {
    margin-left: 10px;
    margin-right: 10px;
}

div.derechos-reservados {
    background-color: #5f676f;
    color: white;  
}

a.download-footer{
    text-decoration: none;
    color: white;
}

/*footer end*/

/* tables*/
thead{
    text-align: center;
    background-color:#31586e;
    color: white;
}
table.table-hover{
    margin-top: 1em;
    margin-bottom: 2em;
}
/* tables end*/

/*cards*/
div.card-header-nosotros {
    text-align: center;
    background-color: #a6c4ce;
    color: black;
    padding: 20px;
    word-wrap: break-word;
}

#equipo .card-header-nosotros {
    min-height: 230px;
    width: 100%;
    padding: 0 0 0 0;
}

div.card-body-nosotros {
    word-wrap: break-word;
    text-align: justify;
    min-height: 140px;
    display: flex;
    align-items: center;
}

div.card-body-transparencia {
    word-wrap: break-word;
    text-align: justify;
    min-height: 240px;
}

div.card-body-transparencia-descarga {
    word-wrap: break-word;
    text-align: justify;
    min-height: 140px;
}

div.card-body-equipo {
    word-wrap: break-word;
    text-align: justify;
    min-height: 100px;
}

div #servicios .card-header{
    min-height: 100px;
}

.card .embed-responsive, .card  .embed-responsive-21by9{
    background-color: #31586e;
}

/*cards end*/

/* Capacitacion tables*/
div.table-row {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-top: 5px;
}

div.table-title {
    background-color: #31586e;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

div.table-white {
    text-align: justify;
    background-color: white;
    border-style: none none none none;
    border-width: 1px;
    border-color: black;
    padding: 7px;
    word-wrap: break-word;
}

div.table-blue {
    text-align: justify;
    background-color: #d0e6ee;
    border-style: none none none none;
    border-width: 1px;
    border-color: black;
    padding: 7px;
    word-wrap: break-word;
}

div.table-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.ul-clean {
    list-style-type: none;
}

/* Capacitacion tables end*/

/*Accordion mood*/
#accordionMood .accordion-button,
#accordionCapacitacion .accordion-button {
    color: white;
    background-color: #31586e;
}

#accordionMood .accordion-button:after,
#accordionCapacitacion .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/*Accordion mood end*/

/*Acoordion Boletines*/
#accordionBoletines .accordion-button{
    color: black;
    background-color: white;
}
#accordionBoletines .accordion-button:not(.collapsed) {
    color: black;
    background-color: #f8f8f8;
}
#accordionBoletines .accordion-body{
    background-color: #f8f8f8;
}
#accordionBoletines .accordion-button:focus {
    box-shadow: 0px 0px 15px 0px #888888;
}
#accordionBoletines .accordion-button:after{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
/*Acoordion Boletines end*/


/*sidenav*/

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    word-wrap: break-word;
  }
  
  .sidenav a,
  .sidenav button,
  .sidenav b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #444444;
    display: block;
    transition: 0.3s;
    word-wrap: break-word;
    border: none;
    width: 100%;
    text-align: left;
  }
  
  .sidenav a:hover,
  .sidenav button:hover {
    color: black;
    background-color: #e4e4e4;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    width: 50px;
    text-align: end;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  .sidenav-blue {
    background-color: #d0e6ee;
    padding-top: 7px;
    padding-bottom: 7px;
    word-wrap: break-word;
  }
/*sidenav end*/

/* vertical center */
div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; }
/* vertical center end*/

/*my shadow*/
div.my-shadow {
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

/*my shadow end*/